.projects-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4375rem;
  width: max-content;
}

.projects-title {
  font-family: var(--inter);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  color: white;
}

.projects-title span {
  color: #cbacf9;
}

.projects-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 10.125rem;
  scroll-margin-top: 8.525rem;
}

@media (max-width: 938px) {
  .projects-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
    width: var(--mobile-width);
  }

  .projects-title {
    font-size: 2.25rem;
    width: var(--mobile-width);
    letter-spacing: -1px;
  }

  .projects-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 4.125rem;
  }
}
