.container1 {
  border-radius: 1.43rem;
  width: 43rem;
  height: 34rem;
  padding: 1px;
  background: linear-gradient(0deg, #36374980, #36374980);
}

.cursor1 {
  position: absolute;
  top: 3.6rem;
  left: 3rem;
  z-index: 1;
}

.cursor2 {
  position: absolute;
  top: 21.4rem;
  left: 31.6rem;
  z-index: 1;
}

.el1 .title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 24.5rem;
  position: absolute;
  top: 22.93rem;
  left: 2.5rem;
  z-index: 1;
}

.el1::after {
  content: "";
  width: 43rem;
  height: 34rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #04071d 0%,
    #04071d 6%,
    #0c0e2300 26%,
    #0c0e2300 100%
  );
  border-radius: 1.43rem;
}

.el1 {
  position: relative;
  border-radius: 1.43rem;
  background-image: url("../../assets/earth.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 43rem;
  height: 34rem;
}

.container2 {
  width: 32.5rem;
  height: 15.93rem;
  border: 1px solid #36374980;
  border-radius: 1.43rem;
}

.el2 .title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 25.68rem;
  position: absolute;
  top: 2.5rem;
  left: 2.18rem;
  z-index: 1;
}

.el2::before {
  content: "";
  background-image: url("../../assets/fade.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 32.5rem;
  height: 15.93rem;
  opacity: 0.2;
  filter: brightness(400%);
  z-index: -1;
  border-radius: 1.43rem;
}

.el2 {
  background-image: url("../../assets/balls.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: relative;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
}

.container3 {
  width: 32.5rem;
  height: 15.93rem;
  border: 1px solid #36374980;
  border-radius: 1.43rem;
}

.el3 {
  width: 32.56rem;
  height: 15.93rem;
  position: relative;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
}

.el3 .title {
  font-size: 2rem;
  font-family: var(--inter);
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 1.2;
  color: white;
}

.el3 .subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--inter);
  color: #c1c2d3;
  line-height: 1.2;
}

.el3 .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
  z-index: 1;
}

.card {
  border-radius: 6.76px;
  width: 8.75rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13.94px;
  font-family: var(--inter);
  font-weight: 600;
  line-height: 18.6;
  background-color: #10132e;
}

.skills1,
.skills12,
.skills22,
.skills2 {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.skills2,
.skills22 {
  top: -1.5rem;
  right: 10.55rem;
}

.skills1,
.skills12 {
  top: -3.2rem;
  right: 1rem;
}

.container .title {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--inter);
  line-height: 1.2;
  letter-spacing: -0.16rem;
  color: white;
}

.about {
  margin-top: 8rem;
  padding: 0 3.5rem;
  display: grid;
  gap: 0.68rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 5.31rem);
  max-width: max-content;
  margin: 0 auto;
  margin-top: 8rem;
}

.container1 {
  grid-column: span 3;
  grid-row: span 6;
}

.container2,
.container3 {
  grid-column: span 2;
  grid-row: span 3;
}

.skills12 {
  animation: scrolling2 2s infinite linear;
  margin-top: 0.8rem;
}
.skills1 {
  animation: scrolling 2s infinite linear;
}

.skills22 {
  animation: scrolling4 2s infinite linear;
}
.skills2 {
  animation: scrolling3 2s infinite linear;
  margin-top: 0.8rem;
}

@keyframes scrolling {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scrolling2 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes scrolling3 {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes scrolling4 {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-100%);
  }
}
