.el1 .title {
  font-size: 2rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 24.5rem;
  position: absolute;
  top: 22.93rem;
  left: 2.5rem;
  z-index: 1;
}

.el1 {
  position: relative;
  border-radius: 1.43rem;
  background-image: url("../../assets/earth.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 43rem;
  height: 34rem;
}

.cursor1 {
  position: absolute;
  top: 3.6rem;
  left: 3rem;
  z-index: 1;
}

.cursor2 {
  position: absolute;
  top: 21.4rem;
  left: 31.6rem;
  z-index: 1;
}

.el1::after {
  content: "";
  width: 43rem;
  height: 34rem;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    #04071d 0%,
    #04071d 6%,
    #0c0e2300 26%,
    #0c0e2300 100%
  );
  border-radius: 1.43rem;
}

.container1 {
  border-radius: 1.43rem;
  width: 43rem;
  height: 34rem;
  padding: 1px;
  background: linear-gradient(0deg, #36374980, #36374980);
}

.el2 {
  background-image: url("../../assets/balls.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: relative;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
}

.el2::before {
  content: "";
  background-image: url("../../assets/fade.svg");
  background-position: bottom;
  width: 32.56rem;
  height: 15.93rem;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 32.5rem;
  height: 15.93rem;
  opacity: 0.2;
  filter: brightness(400%);
  z-index: -1;
  border-radius: 1.43rem;
}

.el2 .title {
  font-size: 1.875rem;
  line-height: 1.2;
  font-weight: 700;
  font-family: var(--inter);
  color: white;
  letter-spacing: -0.16px;
  width: 25.68rem;
  position: absolute;
  top: 2.5rem;
  left: 2.18rem;
  z-index: 1;
}

.about {
  display: grid;
  grid-template-columns: repeat(32, 100px);
  grid-template-rows: repeat(12, 1fr);
}

.container1 {
  display: none;
}

.container2 {
  width: 32.5rem;
  height: 15.93rem;
  border: 1px solid #36374980;
  border-radius: 1.43rem;
  display: none;
}

.container3 {
  width: 32.5rem;
  height: 15.93rem;
  border: 1px solid #36374980;
  border-radius: 1.43rem;
}

.el3 {
  width: 32.56rem;
  height: 15.93rem;
  position: relative;
  width: 32.5rem;
  height: 15.93rem;
  border-radius: 1.43rem;
  overflow: hidden;
  background: linear-gradient(130deg, #04071d, #0c0e23);
}

.el3 .title {
  font-size: 2rem;
  font-family: var(--inter);
  font-weight: 700;
  letter-spacing: -0.16px;
  line-height: 1.2;
  color: white;
}

.el3 .subtitle {
  font-size: 0.875rem;
  font-weight: 500;
  font-family: var(--inter);
  color: #c1c2d3;
  line-height: 1.2;
}

.el3 .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1.25rem;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 0.76rem;
  z-index: -1;
}

.scrolling-up {
  animation: scrolling-up 10s infinite linear;
  position: absolute;
  top: 0;
  left: 12rem;
}

.scrolling-down {
  position: absolute;
  top: 0;
  left: 21.5rem;
  animation: scrolling-down 10s infinite linear;
}

.card {
  border-radius: 6.76px;
  width: 8.75rem;
  height: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 13.94px;
  font-family: var(--inter);
  font-weight: 600;
  line-height: 18.6;
  background-color: #10132e;
}

@keyframes scrolling-up {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}
@keyframes scrolling-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}

.container4 {
}
.container5 {
}
.container6 {
}
