.nav {
    background-color: white;
    width: 451px;
    height: 66px;
    border-radius: 14px;
    padding: 1px;
    background: linear-gradient(45deg, rgba(105, 113, 162, 0.16), rgba(39, 42, 60, 0.37));
    position: sticky;
    top: 2.2rem;
    margin: 0 auto;
}


.nav-list {
    width: 100%;
    height: 100%;
    list-style: none;
    border-radius: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    font-family: var(--inter);
    background: linear-gradient(45deg, #04071D, #0C0E23);
}

.nav-el a{
    text-decoration: none;
    color: #C1C2D3;
    transition: all 0.2s ;
}



