.testimonials-title {
  font-family: var(--inter);
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: -2px;
  text-align: center;
  color: white;
}

.testimonials-title span {
  color: #cbacf9;
}

.testimonials-section {
  margin-top: 9.125rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.625rem;
  scroll-margin-top: 8.525rem;
}

.testimonials-container {
  position: relative;
  max-width: 90rem;
  width: 100%;
  overflow-x: auto;
  display: flex;
  gap: 0;
}

.testimonials-container::after {
  content: "";
  max-width: 90rem;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    90deg,
    #000319 0%,
    transparent 30%,
    transparent 70%,
    #000319 100%
  );
  inset: 0;
}

.testimonials-container::-webkit-scrollbar {
  display: none;
}

.testimonials-scrolling,
.testimonials-scrolling2 {
  display: flex;
  width: max-content;
  gap: 3.1875rem;
  animation: scrolling 9s linear infinite;
  padding-right: 3.1875rem;
}

.testimonials-container:hover .testimonials-scrolling,
.testimonials-container:hover .testimonials-scrolling2 {
  animation-play-state: paused;
}

@keyframes scrolling {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.logos {
  height: 2.375rem;
  width: 77.5rem;
  display: flex;
  align-items: center;
  background-image: url("./logos.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 2rem;
}

.logos .logo {
  display: flex;
  width: 13.125rem;
  height: 2.375rem;
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 938px) {
  .testimonials-title {
    font-size: 36px;
    letter-spacing: -1px;
  }

  .testimonials-section {
    width: var(--mobile-width);
    margin: auto;
    margin-top: 70px;
  }

  .testimonials-container {
    width: 100%;
    flex-direction: column;
  }

  .testimonials-container::after {
    display: none;
  }

  .testimonials-scrolling,
  .testimonials-container::after {
    display: none;
  }
  .testimonials-scrolling2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    animation: none;
    gap: 1.2rem;
  }

  .logos {
    display: none;
  }
}
